/* 画面幅が広い時*/
@media screen and (max-width: 1366px) {
  #page {
    width: 100%;
    margin: 0 auto;
    border: blue 5px solid;
  }

  #index {
    width: 1200px;
    float: left;
    }

  #footer{
    clear: both;
  }
}

/* タブレット向けレイアウト */
@media screen and (max-width: 1000px) {
  #page {
    width: 100%;
    margin: 0 auto;
    border-color: yellow 5px solid;
  }

  #index {
    width: 850px;
    float: left;
  }

  #footer{
    clear: both;
  }
}

/* モバイル向けレイアウト */
@media screen and (max-width: 700px) {
  #page {
    border-color: red;
  }

  #content {
    width: 100%;
  }
}

/* スマホ向けレイアウト */
@media screen and (max-width: 375px) {
  #page {
    border-color: rgb(111, 255, 0);
  }

  #content {
    width: 100%;
  }
}