@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: rgb(86, 86, 86);
    font-size: 15px;
    line-height: 2;
}

header{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.logo{
    float: left;
    margin-top: 50px;
}

.moji-nav{
    float: right;
    margin-top: 60px;
}

.moji-nav li{
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Playfair Display', serif;
}

.moji-nav li a{
    color: black;
}

.moji-nav li a:hover{
    border-bottom: 2px solid  black;
    padding-bottom: 3px;
    text-decoration: none;
}

.content{
    width: 960px;
    margin: 0 auto;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(45, 107, 109);
    text-decoration: none;
}

a:visited{
    color:rgb(84, 84, 84);
}

a:hover{
    text-decoration: underline;
}

#wrap{
    clear: both;
}

footer{
    text-align: center;
    color: black;
    padding: 20px 0;
}

footer small{
    font-size: 12px;
}

#index h1{
    font-size: 100px;
    line-height: 1;
    color: black;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}

#index .content{
    margin-top: 150px;
}

#index p{
    font-size: 16px;
    color: black;
}

#index footer{
    width: 960px;
    margin: 150px auto 0 auto;
    text-align: left;
}

#index{
    background-image: url(../images/haikei.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.box{
    width: 960px;
    margin: 0 auto;
}

#index .box{
    margin-top: 150px;
}

.loader {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative
}

.loader_dot, .loader_dot:before, .loader_dot:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.4s infinite ease-in-out;
  animation: load7 1.4s infinite ease-in-out
}

.loader_dot {
  color: #a28d69;
  font-size: 10px;
  margin: -2em auto 0;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999
}

.loader_dot::before, .loader_dot::after {
  content: '';
  position: absolute;
  top: 0
}

.loader_dot::before {
  left: -4.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s
}

.loader_dot::after {
  left: 4.5em
}