@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    background-color: #8c6450;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 2;
}

header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.logo{
    max-width: 1200px;
    float: left;
    margin-top: 50px;
    text-align: center;
}

.moji-nav{
    max-width: 1200px;
    float: right;
    margin-top: 60px;
    margin-bottom: 250px;
    text-align: center;
}

.moji-nav li{
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Playfair Display', serif;
}

.moji-nav li a{
    color: rgb(255, 255, 255);
}

.moji-nav li a:hover{
    border-bottom: 2px solid  rgb(255, 255, 255);
    padding-bottom: 3px;
    text-decoration: none;
}

.content{
    width: 1000px;
    margin: auto;
    text-align: center;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited{
    color:rgb(126, 126, 126);
}

a:hover{
    text-decoration: underline;
}

#wrap{
    clear: both;
}

footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    clear: both;
}

footer small{
    font-size: 12px;
}

#index .moji-nav{
    margin-right: auto;
}

#index h1{
    font-size: 70px;
    line-height: 1;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}

#index .content{
    margin-top: 150px;
}

#index p{
    font-size: 16px;
    color: rgb(255, 255, 255);
}

#index footer{
    width: 960px;
    margin: 100px auto 0 auto;
    text-align: center;
}

#index{
    background-image: url(../images/haikei.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.boxes{
    max-width: 1200px;
    margin: 200px auto 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
  
.box{
    width: 300px;
    height: 320px;
    margin: 0 auto 40px auto;
}

.photo{
    border: 1px solid rgb(255, 255, 255);
    width: 30%;
}
