header{
    width: 1200px;
}
  
.content{
    width: 1200px;
}

.content img{
  max-width: 1200px;
  width: 300px;
  height: 300px;
}

.content p{
  width: 1200px;
  text-align: center;
}
  
.logo img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
}
  
#index footer{
    width: 960px;
}
  
#boxes{
    max-width: 1200px;
    margin: 200px auto 100px;
}
  
.box{
    width: 300px;
}
  
.photo{
    width: 30%;
}
  
.toTop img{
    width: 100px;
    height: 40px;
}
  
.yajirushi img{
    width: 50px;
}
  
/* 画面幅が広い時*/
@media screen and (max-width: 1366px) {
  #index {
    width: 1366px;
    margin: 0 auto;
  }
  
  .content{
    width: 1200px;
  }

  .content p{
    width: 1200px;
    text-align: center;
  }
  
  .logo{
    margin-left: 20px;
    width: 100px;
  }
  
  .logo img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
  }
  
  #index {
    width: 1200px;
    float: left;
    position: absolute;
  }
}
  
/* タブレット向けレイアウト */
@media screen and (max-width: 1000px) {
  #index {
    width: 1000px;
    margin: 0 auto;
  }
  
  header{
    width: 1000px;
  }
  
  .content{
    width: 1000px;
  }

  .content p{
    width: 1000px;
    text-align: center;
  }
  
  .logo{
    margin-left: 20px;
    width: 100px;
  }
  
  .logo img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
  }
  
  #index {
    width: 1000px;
    float: left;
  }
  
  .box{
    width: 300px;
    height: 320px;
    margin: 0 auto 40px auto;
  }
  
  #boxes{
    max-width: 1000px;
    margin-top:200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
  
/* モバイル向けレイアウト */
@media screen and (max-width: 700px) {
  #index {
    width: 700px;
    margin: 0 auto;
  }
  
  header{
    width: 700px;
  }
  
  .logo{
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    width: 50px;
  }
  
  .logo img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
  }
  
  .content{
    width: 700px;
  }

  .content p{
    width: 700px;
    text-align: center;
  }

  #index h1{
    font-size: 45px;
  }
  
  #wrap{
    width: 700px;
  }
  
  .box{
    width: 300px;
    height: 320px;
    margin: 0 auto 40px auto;
  }
  
  #boxes{
    max-width: 700px;
    margin-top:200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  
  #index footer{
    width: 700px;
  }
}