@charset "utf-8";

body{
    margin: auto;
    padding: auto;
    background-color: #96964d;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 2;
}

header{
    height: 100px;
    margin: 0 auto;
}

.logo{
    float: left;
    margin-top: 50px;
}

.content{
    margin: auto;
    text-align: center;
}

.image{
    text-align: center;
}

.sen{
    margin: 0 auto;
    text-align: center;
    display: block;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited{
    color:rgb(208, 207, 207);
}

a:hover{
    text-decoration: underline;
}

#wrap{
    clear: both;
}

footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0 0 20px 0;
    clear: both;
}

footer small{
    font-size: 12px;
}

#index h1{
    font-size: 50px;
    line-height: 1;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
    margin-bottom: 180px;
}

#index h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#index .hi{
    font-weight: bold;
}

#index .content{
    margin-top: 200px;
}

#index footer{
    margin: 0 auto 0 auto;
    text-align: center;
}

#index .deki{
    margin-bottom: 150px;
}

#index{
    background-image: url(../images/haikei.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#boxes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
  
.box{
    height: 320px;
    margin: 0 auto 40px auto;
}

.photo{
    border: 1px solid rgb(255, 255, 255);
}

.toTop img{
	height: 40px;
}

.yajirushi img{
    margin: auto;
    text-align: center;
    display: block;
}